h1{
    text-align: center;
    padding-top: 150px;
    color: white;
    z-index: 1;
    position: relative;
    font-size: 15px !important;
}
h2{
    text-align: center;
    margin-top: 10px;
    color: white;
    z-index: 1;
    position: relative;
}
footer{
    background-color: rgba(0, 0, 0, 0.884);
    color: grey;
    text-align: center;
    bottom:0;
    width:100%;
    z-index: 1;
    position: absolute;
    
}
.btn.btn-primary{
    display: block;
    bottom:0;
    background-color: #002497;
    
}
body{
    height:100%;
    position: relative;
}
.element-all{
    z-index: 1;
    position: relative;
}
canvas{
    position: absolute;
}
.text-color{
    color: #3a63e9
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
.waviy span {
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s ;
    animation-delay: calc(.1s * var(--i));
    
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
.card-title{
    text-align: center;
    margin-bottom: 20px;
    color: #002497;
}